* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1f5f8;
  text-align: center;
}
.main-center {
  display: grid;
  place-content: center;
  margin: 50px 30px;
}
.title {
  margin-bottom: 50px;
}
.title h1 {
  margin-bottom: 10px;
}
.title p {
  color: gray;
}
.contents {
  display: flex;
  flex-direction: column;
}
.contents .pic {
  height: 300px;
  margin-bottom: 20px;
}
.contents .pic img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
/* article */
.article {
  display: grid;
  background-color: #fff;
  border-radius: 20px;
}
.article-title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* justify-content: space-around; */
  border-radius: 20px 20px 0 0;
}
.article-title button {
  border: none;
  font-size: 18px;
  display: block;
  padding: 1rem 0;
  background-color: #dae2ec;
}
.article-title button:first-child {
  border-radius: 20px 0 0 0;
}
.article-title button:last-child {
  border-radius: 0 20px 0 0;
}
.article-desc {
  text-align: start;
  padding: 30px 30px;
}
.article-desc h4 {
  margin-bottom: 10px;
}
.article-desc p {
  color: grey;
}
.tab-btn.active {
  background-color: #fff;
}
