* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1f5f8;
  text-align: center;
}
.main-center {
  display: grid;
  place-content: center;
  margin: 50px 30px;
}
.title {
  margin-bottom: 50px;
}
.title h1 {
  margin-bottom: 10px;
}
.title p {
  color: gray;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .pic {
  height: 300px;
  margin-bottom: 20px;
  flex: 0.8;
  margin-right: 5px;
}
.main .pic img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* article */
.article {
  flex: 0.8;
  display: grid;
  background-color: #fff;
  border-radius: 20px;
  margin-left: 5px;
}
.article-title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* justify-content: space-around; */
  border-radius: 20px 20px 0 0;
}
.article-title button {
  border: none;
  font-size: 18px;
  display: block;
  padding: 1rem 0;
  background-color: #dae2ec;
  transition: all 0.5s;
  cursor: pointer;
}
.article-title button:first-child {
  border-radius: 20px 0 0 0;
}
.article-title button:last-child {
  border-radius: 0 20px 0 0;
}
.article-title button:hover {
  background-color: #ebf7ff;
}
.article-desc {
  text-align: start;
  padding: 30px 30px;
}
.article-desc h4 {
  margin-bottom: 10px;
}
.article-desc p {
  color: grey;
}
@media screen and (min-width: 1000px) {
  .article {
    grid-template-rows: 50px 8fr;
  }
  .main {
    flex-direction: row;
  }
  .article-title button {
    padding: 0;
  }
}
/* js adjust */
.tab-btn.active {
  background-color: #fff;
}
.contents {
  display: none;
}
.show {
  display: block;
}
