* {
  padding: 0;
  margin: 0;
}

.cardTag {
  height: 100px;
  width: 70px;
  border: 1px solid brown;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
}
.attribute {
  display: inline-block;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 30px;
  color: white;
  pointer-events: none;
}
.att {
  background-color: red;
  bottom: 0;
  left: 0;
}
.cost {
  background-color: green;
  top: 0;
  left: 0;
}
.hp {
  background-color: blue;
  bottom: 0;
  right: 0;
}
#you,
#me {
  height: 300px;
  position: relative;
}
#yourDeck,
#myDeck {
  top: 0;
  right: 0;
  position: absolute;
  display: block;
}

#yourField,
#myField {
  position: absolute;
  bottom: 0;
  left: 0;
}
p {
  position: absolute;
  left: 100px;
}
p span {
  display: inline-block;
}
.deckText {
  text-align: right;
  display: block;
}
.turn {
  background-color: blanchedalmond;
}
button {
  display: block;
  margin: 0 auto;
  height: 30px;
}
.clicked {
  background-color: red;
}
.used {
  background-color: grey;
}
.hidden {
  display: none;
}
#myHeroAndField,
#yourHeroAndField {
  display: inline-block;
}
