* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1f5f8;
}
.center {
  padding: 5rem 0;
  max-width: 1000px;
  margin: 0 auto;
  width: 90vw;
}
.pic {
  margin-bottom: 1rem;
}
.pic img {
  width: 100%;
}
.info p:first-of-type {
  font-weight: bold;
  margin-bottom: 2rem;
}
.info p:nth-of-type(2) {
  color: gray;
  margin-bottom: 1rem;
}
/* deadline */
.deadline-format {
  display: inline-block;
  background-color: #102a42;
  color: white;
  width: 70px;
  height: 70px;
  text-align: center;
}
.deadline-format > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.deadline-format h4 {
  display: inline;
  font-size: 21px;
}
.deadline-format span {
  font-size: 15px;
}
