* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
body {
  background-color: hsl(210, 36%, 96%);
}
nav {
  height: 100px;
  background-color: white;
  text-align: center;
  position: relative;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
}

.logo {
  position: absolute;
  top: 30px;
  left: 10px;
}
.logo h1 {
  text-shadow: grey 3px 3px 5px;
  letter-spacing: 2px;
}
.logo span {
  color: blue;
}
.gnb {
  position: absolute;
  top: 100px;
  width: 100%;
  box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 0.5s linear;
}

.gnb ul li {
  display: block;
  padding: 0 10px;
}
.gnb ul li a {
  display: block;
  line-height: 200%;
  text-align: start;
  transition: all 0.5s;
}
.gnb ul li a:hover {
  background-color: blue;
  color: white;
  padding: 0 0 0 25px;
}
.link-icons {
  display: none;
}
.link-icons li span {
  font-size: 0;
}
.link .bar {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 25px;
}
.link .bar li a {
  display: block;
  color: blue;
  transition: all 0.5s;
}
.link .bar li a:hover {
  transform: rotate(90deg);
  color: black;
}

.hidden {
  overflow: hidden;
  height: 0;
}
.show {
  height: auto;
}
@media screen and (min-width: 750px) {
  .link {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  .link-icons {
    display: flex;
    align-self: center;
    justify-content: flex-end;
    height: 100%;
  }
  .link-icons li a {
    display: block;
    padding: 10px;
    color: blue;
  }
  .link .bar {
    display: none;
  }
  .gnb {
    height: auto;

    position: relative;
    box-shadow: none;
    display: inline-block;
    background-color: transparent;
    top: 0;
  }
  .gnb ul {
    display: inline-flex;
    justify-content: center;
  }
  .gnb ul li a:hover {
    background-color: transparent;
    padding: 0;
    color: black;
  }
}
