* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1f5f8;
  font-family: "Xanh Mono", monospace;
}
main {
  display: grid;
  max-width: 800px;
  margin: 50px auto;
  place-content: center;
}
main h1 {
  margin-bottom: 30px;
  text-align: center;
}
main .lorem-form {
  text-align: center;
}
main label {
  margin-bottom: 50px;
  font-size: 25px;
  text-align: center;
}
main #amount {
  width: 80px;
  height: 30px;
  border-radius: 10px;
  border: none;
  margin-right: 10px;
  text-indent: 15px;
  font-size: 18px;
}
main button {
  width: 80px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: #49a6e9;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
main .contents p {
  margin: 20px;
  font-size: 15px;
}
